h1 {
    text-align: center;
    color: white;
    font-size: 4em;
    text-shadow: 5px 10px 10px grey;
}

body {
  background-image: url(../img/brushed_alu_dark.png);
}

figure {
  background: grey;
  width: 35%;
  padding: 15px;
  margin: auto;background-image: url(../img/brushed_alu_dark.png);
  margin-top: 20px;
  border-radius: 10px;
}

h3, figcaption {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

a img {
  width: 100%;
   
}

.container {
  
/*   display: flex; */
/*   align: center; */
/*   justify-content: space-around; */
  
/*   margin-left: 33% */
}


/* Full size/ Overlay */


/* Hide it */

.overlay {
  display: none;
  /*  Overlay styling  */
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
}


/* 
Show it */

.overlay:target {
  display: block;
  /* Contents of Overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}