body {
    background-image: url(../img/brushed_alu_dark.png)
}

div #ewu {
    margin: 0 auto;
    width: 50%;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}


div {
    text-align: center;
   
}

.logo {
    width: 35%;
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
}

.logo:hover {

    -webkit-filter: drop-shadow(10px 10px 10px white);
  filter: drop-shadow(10px 10px 10px white);
}

#ewu:hover {
    -webkit-filter: drop-shadow(10px 10px 10px white);
  filter: drop-shadow(10px 10px 10px white);
}

h1 {
    margin-top: 2em;
    color: white;
/*    border-bottom: 2px solid white ;*/
    font-style: oblique;
    text-shadow: 5px 5px 5px #ccc;
    margin-bottom: 35px;
/*    text-transform: uppercase;*/
    
}

h2 {
    color: whitesmoke;
    
    
}

h3 {
    line-height: 2em;
    color: antiquewhite;
    margin-bottom: 2em;
}

footer {
    
    display: flex;
    justify-content: space-around;
    color: white;
    
        font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}